{% extends 'base.html' %} {% block content %}

<h1 class="title">Wanna contact the person who made this web site?</h1>
<hr />
<div class="notification is-warning is-light has-text-centered">
  <p class="subtitle is-3">
    How About Clicking On The Icons Below?
  </p>
</div>

<a
  style="margin-top: 0px;margin-right: 10vw;margin-left: 10vw; "
  target="_blank"
  class="has-text-centered"
  href="https://github.com/Ckrcok"
  ><i class="fab fa-github fa-9x"></i
></a>
<a
  target="_blank"
  class="has-text-centered"
  href="https://www.linkedin.com/in/dorz/"
  ><i class="fab fa-linkedin fa-9x"></i
></a>
{% endblock %}
