{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Coffee Collector</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="navbar">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <i class="fas fa-mug-hot fa-2x"></i>
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            {% if user.is_authenticated %}
            <div class="navbar-item">Hey {{user.username}}</div>
            {% endif %}
            <a href="/" class="navbar-item">
              Home
            </a>
            {% if user.is_authenticated %}
            <a href="{%url 'index'%}" class="navbar-item">
              Coffee list
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>

              <div class="navbar-dropdown">
                <a href="{% url 'coffee_create' %}" class="navbar-item">
                  Add A Coffee
                </a>
                <a href="{% url 'flavors_create' %}" class="navbar-item">
                  Add a Flavor
                </a>
                <a href="{% url 'flavors_index' %}" class="navbar-item">
                  View All Flavors
                </a>
                <a
                  style="margin-left: 1vw;margin-right: 1vw;"
                  class="button is-danger"
                  href="{% url 'logout' %}"
                  >Log Out</a
                >
                {% else %}
                <a href="{% url 'contact' %}" class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider" />
                <a class="navbar-item">
                  Report an issue
                </a>
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a href="{% url 'signup' %}" class="button is-primary">
                        <strong>Sign up</strong>
                      </a>
                      <a href="{% url 'login' %}" class="button is-light">
                        Log in
                      </a>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved No Exception, Except Of My Wife, &copy; 2021 Dor
        Zairi &nbsp;
      </div>
    </footer>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach(el => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
