{% extends 'base.html' %} {% block content %}

<h1 class="title">Coffee Details</h1>

<div class="card" style="text-align: center;">
  <div class="card-content">
    <span class="title is-3 is-spaced">{{ coffee.name }}</span>
    <div class="subtitle">
      <p>Type: {{ coffee.type }}</p>
    </div>
    <hr />
    <p>{{ coffee.description }}</p>
  </div>
  <div class="subtitle">
    <a class="button is-warning" href="{% url 'coffee_update' coffee.id %}"
      >Edit</a
    >
    <a class="button is-danger" href="{% url 'coffee_delete' coffee.id %}"
      >Delete</a
    >
  </div>
</div>

<div class="card">
  <div class="title is-1">
    How Much DO Sugar You Like?
  </div>
  <form
    class="table is-bordered"
    method="post"
    style="text-align: center;margin-top: 10vh;margin-bottom: 10vh;padding-top: 0px;padding-bottom: 10vh;"
    action="/coffee/{{coffee.id}}/add_sugar/"
  >
    {% csrf_token %} {{ sugar_form.as_table }}
    <input
      class="button is-primary"
      type="submit"
      class="btn"
      value="Add Sugar"
    />
  </form>
</div>

<div class="is-half is-offset-one-quarter">
  <table
    class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
  >
    <thead>
      <tr>
        <th>Type</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for sugar in coffee.sugar_set.all %}
      <tr>
        <td>{{sugar.type}}</td>
        <td>{{sugar.amount}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr />
<div class="row">
  <div class="title is-1">
    <h3>{{ coffee.name }}'s Flavors</h3>
    {% if coffee.flavors.count %} {% for flavor in coffee.flavors.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A {{ flavor.color }}{{flavor.name }} flavor
        </span>
      </div>
      <div class="card-action">
        <form
          action="{% url 'unassoc_flavor' coffee.id flavor.id %}"
          method="post"
        >
          {% csrf_token %}
          <button
            style="margin-top: 5vh;margin-bottom: 5vh;"
            type="submit"
            class="button is-danger"
          >
            Remove
          </button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <br />
    <div class="subtitle is-2"><h5>No flavors :(</h5></div>

    {% endif %}
  </div>
  <!-- Available flavors will come after this line -->
  <div class="container">
    <h3>Available flavors</h3>
    {% if flavors.count %} {% for flavor in flavors.all %}
    <div class="card">
      <div class="card-content">
        <div class="is-two-fifths">
          A {{flavor.name }}
        </div>
      </div>
      <div class="card-action">
        <form
          action="{% url 'assoc_flavor' coffee.id flavor.id %}"
          method="post"
        >
          {% csrf_token %}
          <button
            style="margin-top: 5vh;margin-bottom: 5vh;"
            type="submit"
            class="button is-success"
          >
            Add
          </button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{coffee.name}} Already Has All flavors Available</h5>
    {% endif %}
  </div>
</div>

{% endblock %}
